.navbarColor {
  background-color: #99582a;
}

#footer {
  background: rgb(4, 4, 4);
  color: white;
}

.newsletter-color {
  background-color: #cdb4db;
}

/* mixin, maps, extend */
.colorRedesface {
  color: #0257c5;
}

.colorRedestwitter {
  color: #00dbde;
}

.colorRedesinsta {
  color: #ffffff;
}

.fondoInsta {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  padding: 2px;
  border-radius: 25%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navbar*/
.colorNav {
  color: #f5f3f4;
}

#navbarSupportedContent {
  justify-content: center;
}

#figuras {
  font-size: 30px;
  padding-right: 15px;
}

.icono1, .icono2, .icono3 {
  color: #f80808;
}

.icono1, .icono2, .icono3 {
  width: 35px;
}

.iconos-figuras {
  justify-content: right;
}

.imgInd {
  object-fit: contain;
  height: 100%;
  width: 80%;
}

@media only screen and (max-width: 880px) {
  .imgInd {
    display: none;
  }
}
/* cards*/
.card-border {
  border: solid 20px white;
  border-radius: 40px;
  overflow: hidden;
  transition: all ease-out -2s;
}
.card-border:hover {
  transform: scale(1.05);
}

.navbarColor {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.buscar {
  position: relative;
  padding: 5px;
}

.buscar input {
  width: 0;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #222;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.btnBotton {
  width: 50px;
  height: 50px;
  line-height: 50px;
  top: 0;
  right: 0;
  position: absolute;
  background: #f05743;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.buscar:hover input {
  width: 240px;
}

.buscar input:focus {
  width: 240px;
}

/* index html */
#index {
  background-color: #f8edeb;
  text-align: center;
}
#index .imagen-card {
  background-color: #f5f3f4;
}

.imgCarrousel {
  height: 550px;
  object-fit: contain;
  background-color: #cdb4db;
}

/*newsletter*/
#inputForm {
  align-content: center;
  text-align: center;
}

#footer {
  text-align: center;
  font-size: 30px;
}

/* accesorios.html */
#accesorios {
  text-align: center;
  background-color: #f8edeb;
}

@media only screen and (max-width: 880px) {
  .imgAcceso {
    display: none;
  }
}
/*clothing*/
#clothing {
  text-align: center;
  background-color: #f8edeb;
}

.imgClot {
  height: 100%;
  width: 80%;
  object-fit: contain;
}

@media only screen and (max-width: 880px) {
  .imgClot {
    display: none;
  }
}
/*shoes */
#shoes {
  text-align: center;
  background-color: #f8edeb;
}

@media only screen and (max-width: 880px) {
  .img-shoess {
    display: none;
  }
}
/*new*/
#new {
  text-align: center;
  background-color: #f8edeb;
}

@media only screen and (max-width: 880px) {
  .imgNew {
    display: none;
  }
}
.caja {
  display: flex;
  background-color: rgb(242, 241, 240);
}

.caja > div {
  width: 50%;
  padding: 10px;
}

.imgNosotros {
  width: 100%;
  height: 100%;
}

.textNosotros {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
