*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* navbar*/

#navbarSupportedContent{
    justify-content: center;
}
#figuras{
    font-size: 30px;
    padding-right: 15px;
}
.icono1{
    color: #f171f8;
}
.icono2, .icono3{
    @extend .icono1;
    
}
.icono1,.icono2,.icono3{
    @include iconosGrandes(35px);
}
.iconos-figuras{
    justify-content: right;
}
/* cards*/
.card-border{
    border:solid 20px white ;
    border-radius: 40px;
    overflow: hidden;
    transition: all ease-out 0-2s;
    &:hover{
        transform: scale(1.05);
    }
}
.navbarColor{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
/* index html */
#index{
    background-color: #f8edeb;
    text-align: center;
    
    .imagen-card{
        background-color: #f5f3f4;
    }   
}
.imgCarrousel{
    height: 550px;
    object-fit: contain;
    background-color: #cdb4db;
}
/*newsletter*/

#inputForm{
    align-content: center;
    text-align: center;
   
}

#footer{
    text-align: center;
    font-size: 30px;
}
